extends layout.pug
include mixins/_tableRow.pug

block defectBar
  div#paretoChart
  script.
    const top10data = !{JSON.stringify(defects)}.slice(0,-1);
    BarChartHorizontal(top10data, 'paretoChart', {
      x: d => d.dppm,
      y: d => d.defectname,
      height: 500,
      marginRight: 20,
      marginLeft: 100,
      xLabel: "dppm",
      color: "steelblue",
      target: 1000
    });

block dailyFAOutput
  div#dailyFAChart
  script.
    const dailyPD = !{JSON.stringify(PDdata)};
    dailyPD.forEach((d) => {
      d.recorddate = new Date(d.recorddate);
    });
    BarChartVertical(dailyPD, 'dailyFAChart', {
      x: d => d.recorddate.toLocaleDateString(),
      y: d => d.PDoutput,
      xDomain: d3.groupSort(dailyPD, d => d.dateID, d => d.recorddate.toLocaleDateString()),
      height: 500,
      marginRight: 30,
      marginLeft: 50,
      yLabel: "units produced",
      color: "steelblue"
    })

block defectTable
  table.table.table-striped.table-hover
    thead
      tr
        th Defect
        th Qty
        th DPPM
      tbody
        each row in defects
          +tableRow(row)
      tfoot
        tr
          th(colspan='6')

block weeklyFOR
  div#weeklyRate
  script.
    const weeklyFOR = !{JSON.stringify(weeklyFOR)};
    const weeklyRate = [];
    for (const week in weeklyFOR) {
      weeklyRate.push({
        weekNum: week,
        rate: weeklyFOR[week][0] / weeklyFOR[week][1] * 1000000
      });
    };
    BarChartVertical(weeklyRate, 'weeklyRate', {
      x: d => d.weekNum,
      y: d => d.rate,
      height: 500,
      marginRight: 30,
      marginLeft: 50,
      yLabel: "ppm",
      color: "steelblue",
      target: 5000
    });

block modelBar
  div#modelBar
  script.
    const model_qty = !{JSON.stringify(model_qty)};
    const modelOutput = [];
    for (const model in model_qty)
      modelOutput.push({
        model_name: model,
        output_qty: model_qty[model]
      });
    BarChartHorizontal(modelOutput, 'modelBar', {
      x: d => d.output_qty,
      y: d => d.model_name,
      height: 500,
      marginRight: 20,
      marginLeft: 100,
      xLabel: "pcs",
      color: "steelblue"
    });