doctype html
html(lang="en")
  head
    title Omni Cambodia Quality Dashboard
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    //- declare site icon
    link(rel='apple-touch-icon' sizes="180x180" href='/images/favico/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favico/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favico/favicon-16x16.png')
    link(rel='manifest' href='/images/favico/site.webmanifest')
    script(src='./d3/dist/d3.js')
    script(src="/scripts/chartGen.js")
    link(rel='stylesheet' href='./index.css')
  body
    header
      h1#appName Omni Cambodia Quality Dashboard
      nav
        ul
          li 
            a(href='/FA') FINAL ASS'Y
          li
            a(href='/PCBA') PCBA
    main
      div.dashboardBox#topBox
        div#defectBar.dashboardItem
          block defectBar
            p defect pareto chart goes here!
        div#dailyFAOutput.dashboardItem
          block dailyFAOutput
            p daily final assembly output goes here!
      div.dashboardBox#bottomBox
        div#defectTable.dashboardItem
          block defectTable
            p defect table with qty and FOR is here!
        div#weeklyFOR.dashboardItem
          block weeklyFOR
            p defect FOR for weekly goes here!
        div#modelQty.dashboardItem
          block modelBar
            p quantity of each model is shown here!
        div.dashboardBox
          div#overallFOR.dashboardItem
            block overallFOR
              p a meter to show overall %FOR is here!
          div#dateFilter.dashboardItem
            block dateFilter
              p a filter to select data time period goes here!
    block footer
      footer
        img.omni-logo(src='/images/Logo-Horizontal.jpg' alt="Omni logo")
        p 
          | © #{new Date().getFullYear()}
          br
          | Home Control Singapore
    script(src='./js/bootstrap.min.js')