doctype html
html
  head
    title Omni Cambodia Quality Dashboard
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    //- declare site icon
    link(rel='apple-touch-icon' sizes="180x180" href='/images/favico/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favico/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favico/favicon-16x16.png')
    link(rel='manifest' href='/images/favico/site.webmanifest')
    script(src='./d3/dist/d3.js')
    script(src="/scripts/chartGen.js")
    style.
      footer { margin: 35px 0 15px 25px;}
      .omni-logo { 
        max-width: 200px;
        margin-bottom: 10px;}
  body
    main#main
    h1 Omni Cambodia Quality Dashboard - Top 10 defect criterions in the last 7 working days
    div
      block defectBar
      block defectTable
    block footer
      footer
        img.omni-logo(src='/images/Logo-Horizontal.jpg' alt="Omni logo")
        p 
          | © #{new Date().getFullYear()}
          br
          | Home Control Singapore