doctype html
html(lang="en")
  head
    title Omni Cambodia Quality Dashboard
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    //- declare site icon
    link(rel='apple-touch-icon' sizes="180x180" href='/images/favico/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favico/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favico/favicon-16x16.png')
    link(rel='manifest' href='/images/favico/site.webmanifest')
    script(src='./d3/dist/d3.js')
    script(src="/scripts/chartGen.js")
    link(rel='stylesheet' href='./layout.css')
    link(rel='stylesheet' href='./index.css')
  body
    header
      img.omni-logo(src='/images/Logo-Horizontal.jpg' alt="Omni logo")
      h1#appName OMNI CAMBODIA QUALITY DASHBOARD
      form(action="/select" method="POST" display="")
        fieldset
          div
            label(for="startWeek") FROM 
            input(type="number" id="startWeek" name="startWeek" size="5")
          div
            label(for="endWeek") TO 
            input(type="number" id="endWeek" name="endWeek" size="5")
          div
            input(type="submit" id="filterSubmit" value="Go")
      nav
        ul
          li 
            a(href='/FA') FINAL ASS'Y
          li
            a(href='/PCBA') PCBA
    main
      div.dashboardBox#topBox
        div#defectBar.dashboardItem
          block defectBar
            p defect pareto chart goes here!
        div#dailyOutput.dashboardItem
          block dailyOutput
            p daily final assembly output goes here!
      div.dashboardBox#bottomBox
        div#defectTable.dashboardItem
          block defectTable
            p defect table with qty and FOR is here!
        div#weeklyFOR.dashboardItem
          block weeklyFOR
            p defect FOR for weekly goes here!
        div#modelQty.dashboardItem
          block modelBar
            p quantity of each model is shown here!
        div.dashboardBox
          div#topTrend.dashboardItem
            block topTrend
              p some top items to be shown here!
          div#overallFOR.dashboardItem
            block overallFOR
              p a meter to show overall %FOR is here!
    footer
        p © #{new Date().getFullYear()} Home Control Singapore
    script.
      const topBar = document.querySelectorAll("header")[0];
      topBar.style.height = window.innerHeight * .08 + "px";
      document.querySelectorAll("header .omni-logo")[0].style.height = topBar.clientHeight * .8 + "px";
      document.getElementById('topBox').style.height = window.innerHeight * .46 + "px";
      document.getElementById('bottomBox').style.height = window.innerHeight * .42 + "px";
    script(src='./js/bootstrap.min.js')
