footer { 
  margin: 35px 0 15px 25px;
}
.omni-logo { 
  max-width: 200px;
  margin-bottom: 10px;}
#dashboard {
  width: 100%
}
.dashboardBox {
  display: flex;
}
.dashboardBox .dashboardBox {
  flex-direction: column;
}
.dashboardItem {
  border: 1px solid black;
}
.dashboardBox .dashboardBox .dashboardItem {
  height: 50%;
}
#defectBar, #dailyFAOutput {
  width: 50%
}
#defectTable {
  font-size: 10px;
  padding: 0 10px 0;
}
#rateMeter {
  padding: 15px;
}