main {
  width: 100%;
}
.dashboardBox {
  display: flex;
}
.dashboardItem {
  border: 1px solid black;
}
.dashboardBox .dashboardBox .dashboardItem {
  height: 50%;
}
#topBox, #bottomBox {
  width: 100%;
}

#defectBar, #dailyOutput {
  width: 50%;
  height: 100%;
}

#weeklyFOR, #modelQty {
  width: 32%;
}
#defectTable {
  font-size: 10px;
  padding: 0 10px 0;
  width: 15%;
  overflow: scroll;
}
.dashboardBox .dashboardBox {
  flex-direction: column;
  width: 21%;
}

#modelQty {
  padding-left: 1%;
}
#rateMeter{
  padding: 0;
  width: 100%;
  align-items: center;
}
#rateMeter h4 {
  text-align: center;
  margin: 0;
}