main {
  width: 100%;
}
.dashboardBox {
  display: flex;
}
.dashboardBox .dashboardBox {
  flex-direction: column;
  width: 21%;
}
.dashboardItem {
  border: 1px solid black;
}
.dashboardBox .dashboardBox .dashboardItem {
  height: 50%;
}
#topBox, #bottomBox {
  width: 100%;
}

#defectBar, #dailyOutput {
  width: 50%;
  height: 100%;
}
#weeklyFOR, #modelQty {
  width: 32%;
}
#modelQty {
  padding-left: 1%;
}
#defectTable {
  font-size: 10px;
  padding: 0 10px 0;
  width: 15%
}
#rateMeter, #dateFilter {
  width: 21%;
}
#rateMeter {
  padding: 15px;
}
#dateFilter {
  padding-top: 5px;
  padding-left: 10px;
}

